/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
#footercontainer {
    display: flex;
    justify-content: space-between;
}
.footericons {
    flex-flow: row nowrap;
}